@{
    ViewBag.Title = "Order Success";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h3>Đặt hàng thành công!</h3>
                <p>Cảm ơn bạn đã mua hàng tại PetShop. Chúng tôi sẽ liên hệ với bạn sớm nhất.</p>
                <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary">Tiếp tục mua sắm</a></p>
            </div>
        </div>
    </div>
</section>
